
.contact {
    background: #111;
    color: white;
    padding: 80px 8%;
    text-align: ;
    
}
form {
    display: flex;
    flex-direction: column;
    width: 400px;
}
input, textarea {
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    padding: 12px;
}
button {
    background: #39FF14;
    border: #111;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    padding: 15px;
}