.services {
    padding: 80px 8%;
    text-align: center;
}
.services h2 {
    color: #39FF14;
}
.servec-cards {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}
.card {
    background: #111;
    border-radius: 20px;
    color: white;
    margin-top: 20px;
    padding: 20px;
}
.card img {
    border-radius: 8px;
    width: 100%;
}