.social {
    padding: 80px 8%;
    text-align: center;
}
.social-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.social-card {
    background: #39FF14;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    padding: 20px;
}